node_modules
build
.vscode
.idea
yarn-error.log
tsconfig.tsbuildinfo
.DS_Store

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# vscode
.vscode
.idea

# Ignore Mac DS_Store files
*.DS_Store
.DS_Store
